<div class="border-r-2 border-gray-400  h-screen">
<div class="pt-4">
  <a href="/buscar-solicitud">
  <div class="itemBuscar  flex flex-row pl-2 rounded-md hover:bg-pink-200">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p class="text-gray-500 pt-2">Buscar solicitud</p>
  </div>
</a>
<a href="/consultar-estado">
  <div class="itemConsulta flex flex-row pl-2 rounded-md hover:bg-pink-200 pr-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p class="text-gray-500 pt-2">Consultar solicitud</p>
  </div>
</a>
</div>
</div>
